.open-push-modal {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  .push-modal {
    background: #FFFFFF;
    border-radius: 12px;
    width: 72%;
    .title {
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 700;
      color: #131313;
      line-height: 22px;
      margin: 0 auto;
      text-align: center;
      margin-top: 14px;
    }
    .tip {
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #131313;
      line-height: 17px;
      margin-top: 4px;
      text-align: center;
      margin-bottom: 18px;
    }
    .buttons-box {
      display: flex;
      .cancel {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #007AFF;
        vertical-align: middle;
        height: 44px;
      }
      .goSet {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #007AFF;
        vertical-align: middle;
        height: 44px;
      }
    }
    .split-line {
      width: 100%;
      height: 1px;
      transform: scaleY(.5);
      background: #B2B3B2;
    }
    .vertical-line {
      width: 1px;
      height: 44px;
      transform: scaleX(.5);
      background: #B2B3B2;
    }
  }
}
